{% extends 'base_generic.html' %}
{% block title %}Alhani Store - Subscribe{% endblock %}
{% block content %}
    <div class="Albumsbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Albumstitlepage">
                        <h2>Subscribe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Albums">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h3>Roles of subscription in the Alhani music app store:</h3>
                        <ul>
                            <li>
                                Monthly subscription
                            </li>
                            <li>
                                Payment terms that comply with Syrian laws
                            </li>
                            <li>
                                Payment is made through the available methods in Syria (Syriatel Cash, Cash Mobile, Al-Ahram Company transfer)
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
